<!DOCTYPE html>
<html>
  <head>
    <title>furryland</title>
  </head>
  <body>
    <nav>
      <a href="/pets">Pets</a> //
      <a href="/owners">Owners</a>//
      <a href="/adoptions">Adoptions</a>
    <nav>
      <%= yield %>
  </body>
</html>