<h1>New Pet</h1>

<form action="/pets" method="post">
  <p>
    <label>
      Name:
    </label>
    <input type="text" name="name"/>
  </p>
  <p>
    <label>
      Breed:
    </label>
    <input type="text" name="breed"/>
  </p>
  <p>
    <label>
      Admission Date:
    </label>
    <input type="text" name="date"/>
  </p>
  <p>
     
    <label>
      Adoptable:
    </label>
    <input type="text" name="adoptable"/>
    </p>
    <p>
    
    </p>
    <input type="submit" value="Add Pet"/>
  </p>
</form>