<h1>New Adoption</h1>

<form action="/adoptions" method="post">
  <p>
    <label>
      Owner Name
    </label>
    <input type="text" name="owner_id"/>
  </p>
  <p>
    <label>
      Pet Name:
    </label>
    <input type="text" name="pet_id"/>
  </p>
    
    <input type="submit" value="Add Adoption"/>
  </p>
</form>