<h1>Owners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pets</th>
  </tr>
  <% for owner in @owners %>
    <tr>
      <td><a href = "/owners/<%=owner.id%>"><%= owner.name %>
      </a></td>
      <% for pet in owner.pets %>
        <td><%= pet.name() %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<nav>
  <ul>
    <li><a href="/owners/new">Add Owner</a></li>
  </ul>
</nav>