<h1>New Owner</h1>

<form action="/owners" method="post">
  <p>
    <label>
      Owner:
    </label>
    <input type="text" name="name"/>
  </p>

  <p>
    <input type="submit" value="Add Owner" />
  </p>
</form>