<h1>Owner Info</h1>

Name: <%= @owner.name %><br>
Pets:<% for pet in @owner.pets %>
        <td><%= pet.name() %></td>
      <% end %>
<br>
<a href="/owners/<%= @owner.id %>/edit">Edit</a><br> 
<form action="/owners/<%= @owner.id %>/delete" method="post" >   
<input type="submit" value="Delete">
</form>
<br>
<a href="/owners">Back to All Owners</a>